
.fa-user{
    padding-right: 2px;
    margin-right: 5px;
}

.friend-index-item{
    font-family: Lato;
    size: 14px;
    margin-left: 5px;
}

#friend-add-error{
    font-family: Lato;
    color: red;
    size: 10px;
}
