.topbar-friend{
    display: flex;
    justify-content: space-between; 
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:rgb(221,221,221);
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: rgb(221,221,221)

}
.topbar-friend span{
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    background-color: rgb(221,221,221);
}

#empty{
    font-size: 28px;
    font-family: Lato;
    color: rgb(51,51,51);
    display: inline-block;

}
#no-transaction{
    float: left;
    display: inline-block;
    vertical-align: top;
}

.expense-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.expense{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:rgb(221,221,221);
    cursor: pointer;
}
.summary{
    display: flex;
    justify-content: space-between;
}

.summary-mainblock{
    display: flex;
}

.create-bill-btn{
  text-align: center;
  line-height: normal;
  vertical-align: -5px;
  width: auto;
  background-color: #ff652f;
  font-family: Lato;
  font-weight: 600;
  font-size: 15px;
  color: white;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0 4px 2px -2px gray;
  padding: 9px 14px;
  margin-right: 20px;
  align-items: center;

}

.create-bill-btn:hover{
  box-shadow: none;
  position: relative;
  top: 2px;
}

#close-x{
    cursor: pointer;
}

.bill-index-item {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    font-family: Lato;
    font-size: 18px;
    // color: #333333;
    min-height: 32px;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}

.bill-left > p, .bill-right > p {
    margin-left: 30px;
}

.bill-left {
    display: flex;
    align-items: center;
}

.bill-left > p {
    font-weight: 700;
    font-size: 20px;
    font-family: Lato;
    color: black
}




.bill-right {
    display: flex;
    justify-content: center;
}

.bill-right > div > p {
    justify-content: center;
    margin-right: 30px;
    width: 150px;
}

.bill-payer, .bill-payee {
    display: block;
    text-align: center;
    justify-content: center;
    
}

.bill-payer-name {
    color: #a8a7a7;
    // color: black;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}

.bill-payer-amount {
    font-weight: 700;
    font-size: 16px;
}

.bill-green {
    color: #5BC5A7;
    font-weight: 700;
    font-size: 16px;
}

.bill-red {
    color: #ff652f;
    font-weight: 700;
    font-size: 16px;
}

.friend-bill-date {
    display: block;
    text-align: center;
    width: 50px;
    color: #a8a7a7;
}

.friend-bill-month {
    font-size: 10px;
}

.bill-day {
    font-size: 20px;
}

.delete-bill {
    margin-right: 20px;
    align-items: center;
    display: flex;
    color: white;
}

.bill-index-item:hover > span > .delete-bill {
    color: red;
}

.bill-index-item:hover {
    background-color: rgb(235, 235, 235);
}

.deleteBill:hover {
    cursor: pointer;
    border-bottom: 3px solid #ff652f;
    border-top: 3px solid rgb(235, 235, 235);
}




.bill-index-item:hover > span > .details > button {
    color: white;
    cursor: pointer;
    background-color: #ff652f;
}

.bill-index-item:hover > span > .details {
    border-color: #c75b34;
    background-color: #ff652f;
}


.bill-details-1{
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    justify-content: flex-start;
    padding: 10px 0 10px 0;
    font-family: Lato;
    font-size: 14px;
    min-height: 32px;
    align-items: center;
    margin-left: 20px;

}

.bill-details-1-right{
    margin-left: 10px;
}

.bill-details-1-right-amount{
    color:black;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;

}

.bill-details-1-right-time{
    margin-bottom: 5px;
    margin-top: 5px;
}

.bill-edit{
align-items: center;
  cursor: pointer;
  //height: 10px;
  text-align: center;
  line-height: 14px;
  vertical-align: -5px;
  width: 100px;
  background-color: #ff652f;
  font-family: Lato;
  font-weight: 400;
  font-size: 10px;
  color: white;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px gray;
  padding: 5px 8px 5px 8px;
  // line-height: 1.5px;
  text-decoration: none;
}

.bill-edit:hover{
  box-shadow: none;
  position: relative;
  top: 2px;
}


.bill-details-2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}

.bill-details-2-left, .bill-details-2-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0 10px 0;
    font-family: Lato;
    font-size: 14px;
    min-height: 32px;
    // align-items: center;
    margin-left: 20px;
}

.bill-details-2-left{
    align-items: left;
}
.bill-details-2-right{
    align-items: center;
}
.bill-details-2-right{
    margin-right: 20px;
    font-size: 14px;
    font-family: Lato;
}

.bill-details-2-left span {
    margin-bottom: 15px;
}


.bill-details-2-right p{
    margin-bottom: 10px;
} 

.bill-details-2-right-notes{
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    min-height: 100px;
    min-width: 70px;
    padding: 10px;
}

#not-show{
    display: none;
}

.friend-balance h1 {
    margin-top: 5px;
    margin-bottom: 3px;
}

.friend-balance p{
    margin-top: 5px;
    font-size: 20px;
}