.greeting {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 32px;
    margin-left: 5%;
    margin-right: 5%;
}


.greeting-links{
    display: flex;
    flex-wrap: row wrap;
    align-items: baseline;

}

.logout{
    display: flex;
    flex-wrap: row wrap;
}

.login-lnk{
    color: #1cc29f;
    padding: 0px 16px 16px 16px;
    font-weight: 600;
    background-color: transparent;
    border: 0 solid;
    box-sizing: border-box;
    cursor: pointer;
    font: 14px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

// .signup-lnk{
//     color: #ffffff;
//     padding: 12px 20px;
//     background-color: #1cc29f;
//     box-sizing: border-box;
//     cursor: pointer;
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 600;
//     line-height: 1.5;
//     border: 0 solid;
    
// }

.signup-lnk {
  display: flex;
  justify-content: center;
  align-items: center;
//   margin-top:16px;
//   margin-bottom:64px;
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: #1cc29f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px gray;
  padding: 10px 16px 10px 16px;
  line-height: 1.5px;
  text-decoration: none;
  
}

.signup-lnk:hover {
  box-shadow: none;
  position: relative;
  top: 2px;
 }