.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.modal-child {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width:360px;
  height: 420px;
  border-radius: 8px;
  border: 2px solid #999999;
  display:flex;
  flex-direction: column;
  font-family: Lato;
  font-size: 14px;

}

.add-bill-form {
  background-color: white;
  // border-radius: 8px;
}

.add-bill-head {
  background-color: #5bc5a7;
  color: white;
  font-family: Lato;
  font-size: 17px;
  font-weight: 550;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 6px;
  
}

.add-bill-friends {
  display:flex;
  border-bottom: 1px solid lightgray;
  position: relative;
  height: 45px;
  font-family: Lato;
  margin-top: 10px;
  font-size: 14px;
  margin-left: 4px;
  padding-top: 5px
}

.add-bill-details-1 {
  display:flex;
  flex-direction: row;
  font-family: Lato;
  font-size: 14px;
  margin-bottom: 20px;
  // padding-right: 10px;
}

.details-1-left {
  display:flex;
  flex-direction: column;
  // justify-content: flex-end;
  padding-left: 10px;
  margin-top: 8px;
  
}

.details-1-right {
  display:flex;
  flex-direction: column;
  // justify-content: flex-end;
  padding-left: 25px;
  margin-top: 8px;
  margin-right: 10px;
}


.add-bill-desc, .add-bill-amt {
  margin-top:3px;
  border: 0.5px solid #cccccc;
  height: 23px;
}

// .add-bill-desc-amt {
//   margin-top: 20px;
// }

.add-bill-details-2 {
  display: flex;
  // align-items: center;
  padding-left: 10px;
  flex-direction: column;
  // border: 1px solid blue;
  font-family: Lato;
  font-size: 14px
}

.details-2-top {
  display: flex;
}

select.paidby {
  height: 23px;
  width: 100%;
  margin-bottom: 20px;
  border: 0.5px solid #cccccc;
}

.add-bill-notes {
  border: 0.5 solid #cccccc;
  width: 335px;
  border-radius: 8px;
  margin-top: 5px;
}

.add-bill-buttons {
  border-top: 0.5px solid #cccccc;
  padding-top: 20px;
  margin-top: 10px;
  padding-right: 10px;
}

.btn-save {
  
  font-size: 14px;
  width: auto;
  display: inline;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  float: right;
  margin: 0 0 20px 0;
  background-color: #5bc5a7;
  // box-shadow: 0 4px 2px -2px gray;
  cursor: pointer;
  color: white;
  // border: 0px;
  // vertical-align: -5px;
}

.btn-save:hover{
  // box-shadow: none;
  position: relative;
  top: 5px;
}

.btn-cancel {
  margin: 0 10px;
  float: right;
  font: 400 13.3333px Arial;
  margin-bottom: 20px;
  padding: 1px 6px;
  border-radius: 5px;
}
.btn-cancel:hover{
  position: relative;
  top: 5px
}

.friend-name {
  margin-right: 5px;
}

.close-x{
  cursor: pointer;
}

.add-bill-form input{
  font-family: Lato;
  font-size: 14px;
  border: 0.5px solid #cccccc;
  height: 23px;
  border-radius: 5px;
}

.add-bill-desc{
  margin-top: 6px;
}

.details-2-top{
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5px;

}

