
.body-container{
    
    height: 100%;
    overflow: auto;
    

}
#login-form.full-form {
    display:flex;
    flex-flow: column;
    color: #333333;
    font-family: Lato;
    font-size: 18px;
    background-image: image-url('splash_bg.png');
    overflow: auto;
    align-items: center;
}

#signup-form.full-form{
    #login-form.full-form {
    display:flex;
    flex-flow: column;
    color: #333333;
    font-family: Lato;
    font-size: 18px;
    overflow: auto;
    align-items: center;
}
}
.login-form{

    margin-top: 5%;
    margin-bottom: 5%;
    padding:32px 64px;
    border-radius: 32px;
    border-color: rbg(230,232,238) ;
    background-color: white;
    border-style: solid;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    // height: 600px;
    width: 600px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 12%);

}
.signup-form{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 32px 0;
    border-radius: 32px;
    border-color: rbg(230,232,238) ;
    background-color: white;
    border-style: solid;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    height:600px;
    width: 600px;
    // margin-left: 10%;
    // margin-right: 10%;
    margin-left: 165px;
}


.form-title{
    font-size: 24px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px, gray;
    font-size: 20px;
}

.regular-btn{
    background-color: #1cc29f;
    border-radius: 5px;
    border:0px;
    padding: 16 64 64 16;
    height: 60px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
   color:white;
   font-size: 20px;
   cursor: pointer;
   box-shadow: 0 4px 2px -2px gray;
    margin-top: 10px;
}

.demo-btn{
    background-color: gray;
    border-radius: 5px;
    border:0px;
    padding: 16 64 64 16;
    height: 60px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
   color:white;
   font-size: 20px;
   cursor: pointer; 
   box-shadow: 0 4px 2px -2px gray;  
}
.regular-btn:hover {
  box-shadow: none;
  position: relative;
  top: 2px;
 }
.demo-btn:hover {
  box-shadow: none;
  position: relative;
  top: 2px;
 }

//  .errors{
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 600;
//   font-size: 20px;
//   padding:12px;
//   color: #c45;
//   width: 90%;
//   border-radius: 5px;
//   text-align: center;
//  }

 .not-show{
    //  visibility: hidden;
    display: none;
 }

.signup-btn{
    background-color: #ff652f;
    border-radius: 5px;
    border:0px;
    padding: 16 64 64 16;
    height: 60px;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
   color:white;
   font-size: 20px;
   cursor: pointer; 
   box-shadow: 0 4px 2px -2px gray;  
}
.signup-btn:hover {
  box-shadow: none;
  position: relative;
  top: 2px;
 }



#signup-logo{
    max-height: 200px;
}

.signup-introduction{
    margin-bottom: 5px;
    padding: 10px 0;
    font-size: 16px;
    font-family: Lato;
    color:gray
}

.signup-welcome{
    font-size: 24px;
    font-family: Lato;
    font-weight: 400;
    line-height: 24px;
}

.font-bold{
    font-weight: 900;
    color:black

}

// #login-form.error li {
//   margin-top: 12px;
//   background:#cc4455;
//   color: #ffffff;
//   padding: 10px;
//   font-size: 18px;
//   font-family: Lato;
// }

#signup-icon {
    float: left;
    display: inline;
}

#signup-logo {
    margin-top: 50px;
    width: 150px;
}

.logoed-form{
    width: 814px;
    margin: 0 auto;
}


#signup-form.show {
  margin-top: 12px;
  background:#cc4455;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  font-family: Lato;
}
#login-form.show li{
  margin-top: 12px;
  background:#cc4455;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  font-family: Lato;
}

.font-bold{
   color: #ffffff;
}